*{
    font-family: Poppins, sans-serif;
    margin: 0;
}


.NavbarMain{
    position: relative;
    background-color: #CB2C31;
    height: 70px;
    /* width: 100%; */
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* position: fixed; */
}
.NavbarLogo{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
}

.NavBarContent{
    position: absolute;
    /* height: 100%; */
    /* width: 50%; */
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-right: 50px;
    right: 0;
    
}
.NavBarContent p{
    margin: 10px 20px;
    font-size: 50%;
    cursor: pointer;

}
.MenuIcon{
    display: none;
    position: absolute;
    margin-right: 50px;
    right: 0;
    color: white;
    font-size: 20px;
    /* background-color: aqua; */

}

.NavBarContent p{
    color: white;
    font-size: 17px;
}
.LogoContent{
    color: white;
}  
              
.NavbarLogo img{
    height: 45px;
    width: auto;
    
}
.MenuListParent{
    position: absolute;
    top:70px;
    right: 0;
    display: none;
    transition: 2s;
}
.MenuList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #CB2C31;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.MenuList p{
    margin: 15px;
    color: white;
    /* display: none; */
    font-size: 80%;
    transition: 2s;
}
@media (max-width:800px) {
    .NavbarMain{
        height: 80px;
        width: auto;
    }
    .LogoContent h1{
        font-size: 135%;
    }
    .LogoContent p{
        padding-left: 3px; 
        font-size: 70%;
    }

}
@media  (max-width:950px ) {
    .NavBarContent p{
        font-size: 100%;
    }
}
@media (max-width:890px){
    .NavBarContent{
        display: none;
    }
    .MenuIcon{
        display: block;
        margin-right: 20px;
    }
}
/* @media (max-width:550px){ */
    
    
@media (max-width:350px) {
    .NavbarLogo img{
        width: 80%;
    }
    .NavbarLogo{
        margin-left: 5px;
    }
    
    .MenuIcon{
        font-size: 96%; 
    }
    .MenuList p{
        font-size: 65%;
        margin: 8px;
    }

    
    
}