*{
    margin: 0;
    padding: 0;
}
/* temporary */
#CourseHtml{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    padding: 20px;
}
.CourseParent{
    height: 550px;
    /* height: 450px; */
    width: 350px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    /* border: 2px solid; */
    /* background-color: #27227A; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .CourseParent img {
    height: 50%;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    margin: 0;
    padding: 0;
    top:0
    
}
.CoursePart2{
    /* background-color: #27227A; */
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 30%;
}
.CourseTitle{
    font-size: 17px;
    width: auto;
    text-align: center;
    padding: 20px 10px;
    margin: 0px;
    font-weight: bold;
   
}

.CourseDetails{
    color: #27227A;
    width: auto;
    font-size: 15px;
    margin: 10px 30px;
    background-color: #e0dede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* padding: 8px 0; */
    
}
.CourseContent{
    padding: 0 30px;
    text-align: justify;
    font-size: 12px;
}
.courseDuration{
    display: flex;
    width: 260px;
    height: auto;
    justify-content: center;
    margin: 30px 5px;
    flex-wrap: wrap;
}
.duration{
    display: flex;
    margin: 5px;
    font-size: 20px;

    /* background-color: #CB2C31; */
}

.duration p{
   margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.ButtonDiv{
    display: flex;
    justify-content: center;
}
@media (max-width:400px){
    #CourseHtml{
        padding: 10%;
    }
    .CourseParent{
        width: 100%;
        margin: 20px; 
        height: auto;
    }
    .CourseParent img {
        height: 50%;
        width: 100%;  
    }
    .CourseTitle{
        font-size: 90%;
        padding: 0;
    }
    .CourseContent{
        font-size: 60%;
        padding: 10px;
        /* margin: 0 10px; */
    }
    .CourseDetails{
        font-size: 90%;
        width: 70%;
        padding: 10px;
        margin: 10px;
        height: auto;
    }
    .courseDuration{
        width: auto;
        margin: 10px;
    }
    .duration ,.duration p{
        font-size: 80%;
    }
    .duration {
        margin: 5px;
    }
}