*{
   margin: 0;
   padding: 0; 
}
/* .PopupPageParent{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.PopupPageMain{
    /* height: 450px; */
    width: 350px;
    border-radius: 10px;
    border: 1px solid #CB2C31;
    background-color: white; 
    padding: 10px;
}
.Heading{
    margin:10px ;
}
.HeadingImage{
    text-align: center;
}
.HeadingImage img{
    width: 200px;
    height: 50px;
   
}
.FormElement{
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 40px 20px;
    border-width:0 0 2px;
    border-style: solid;
    border-color: #27227A;
    padding-bottom: 5px;
}
.SelectList{
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
    flex-direction: column;
}
.CourseMenu{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* height: 25px; */
    width: 88%;
    margin: 0;
    
}
.popupCourseTitle{
    width: 200px;
    font-size: 12px;
    color: #27227A;
    
    /* margin-left: 10px; */
    text-align: left;
    padding: 0;
    padding-right: 30px;
    padding-left: 20px;
    cursor: pointer;
}
.InputType{
    outline: 0;
    border-width: 0;
    width: 90%;
    margin-left: 20px;
    color: #27227A;
    
    
}
::placeholder {
    color: #27227A;
    font-size: small;
}
:-ms-input-placeholder{
    color: #27227A;
    font-size: small;
}
::-ms-input-placeholder { 
    color: #27227A;
    font-size: small;
}
.Icon{
    color: #27227A;
    height: 15px;
    width: 15px;
}
.Options{
    display: none;
    width: 88%;
    z-index: 2;
    position: absolute;
   margin: 22px;
   /* height: auto; */
   height: 180px;
   overflow-y: scroll;
   scroll-behavior: smooth;
   background-color: #27227A;
   opacity: 0.9;
   scrollbar-width:thin;
   scrollbar-color:white;
}
.option{
    width: auto;
    font-size: 12px;
    color: white;
    padding: 15px 20px;
    transition: 1s;
    
}
.option:hover{
   cursor: pointer;
   background-color: #07026a;
}
.PopupButton{
    width: auto;
    display: flex;
    justify-content: center;
}