*{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
.ReviewParent{
    width: 420px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    /* border: 2px solid #CB2C31; */
    padding: 10px 5px;

}
.ReviewTitle{
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PersonImage ,.PersonImage img{
    max-width: 50px;
    /* height: 50px; */
    max-height: 50px;
    border-radius: 50%;
    
}
.PersonImage{
    background-color: #CB2C31;
    margin: 0 10px;

}
.time, .Name{
    font-size: 12px;
    margin: 5px 0;
}
.Name span{
    font-weight: 600;
    font-size: 14px;
}
.PersonName{
    display: flex;
    margin: 0 30px;
    justify-content: center;
    max-width: 170px;
    flex-direction: column;
}
.ReviewStar{
    padding: 20px 5px;
    width: 90px;
}
.ReviewBody{
    padding: 20px;
    font-size: 13px;
}
.ReviewBody p{
    text-align: left;
    line-height: 1.6;
}

@media (max-width:420px) {
    .PersonName{
        width: auto;
    }
    .Name span{
        font-size: 120%;
    }
    .PersonName{
        margin: 0 10px;
    }
    .ReviewStar{
        width: auto;
        font-size: 80%;
        padding: 5px;
    }
    .ReviewBody{
        padding: 10px;
    }
    .ReviewBody p{
        font-size: 90%;
    }
    .time, .Name{
        font-size: 70%;
    }
    .Name span{
        font-size: 110%;
        word-spacing: 2px;
    }
}