.FooterPageParent
{
    
    background-color: #380000;
    color: white;
}

.FooterParent{
    
    /* height: 400px; */
    /* width: 100vh; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    /* padding: 20px; */
}
.FooterContent{
    
    margin: 0 60px;
    max-width: 400px;
    /* height: 200px; */
    /* background-color: #380000; */
}
.FooterContent img{
    max-width: 400px;
    /* min-width: 250px; */
    max-height: 50px;
}
.FooterContent p{
    
    padding: 30px 0px;
    text-align: justify;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5;
}

.FooterSubscribe{
    display: flex;
    /* justify-content: center; */
}
.SubscribeBox{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    color: rgb(211, 211, 211);
    height: 10px;
    max-width: 250px;
    /* margin: 20px;  */
    padding: 20px 0;
}

.FooterList{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    /* bottom:40px; */
    /* height: 300px; */
    width: 100px;
    margin:0 100px;
}
.FooterList p{
    width: auto;
    margin: 15px 0;
    text-align: center;
    font-size:large;
}
.FooterAddress{
    /* position: relative; */
    /* width: 450px; */
    max-width: 450px;
    padding: 0 30px;
    /* margin:0 80px; */
    
    /* bottom: 40px; */

}
    .AddressDiv , .PhoneNumber , .email{
    display: flex;
    /* justify-content: space-between; */
}
.AddressDiv p, .PhoneNumber p, .email p{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* width: 600px; */
    
    /* width: 350px; */
    width: 350px;
    flex-direction: row;
    margin:20px;
    margin-right: 0;
    font-size: 15px;
    line-height: 1.5;
    word-spacing: 1.5;
    padding: 0;
}
.IconList{
    padding: 20px 0;
    display: flex;
    justify-content: center;

}
.EachIcon{
    font-size: 15px;
    padding: 20px;
    /* margin: 20px 0px; */
}
@media (max-width:800px){
    .FooterContent{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
        
        
    }
    
    .FooterContent p{
        font-size: 80%;
        line-height: normal;
    }
    .FooterParent{
        flex-direction: column;
    }
    .FooterList{
        margin: 0;
    }
    .FooterList p{
        font-size: 100%;
        margin: 15px 0;
        width: 100px;
    }
    .AddressDiv p, .PhoneNumber p, .email p  {
        font-size: 80%;
        width: auto;
        margin: 0 5px;
    }
}

@media (max-width:600px) {
    .FooterContent{
        padding: 5px;
    }
    .FooterAddress{
        font-size: 90%;
        padding:0 5px;
    }
    .AddressDiv p, .PhoneNumber p, .email p{
        margin: 8px;
    }
    .EachIcon{
        padding: 8px;
    }
}
@media (max-width:375px) {
    .FooterContent{
        width: 200%;
        height: 50%;
    }
    .FooterContent img{
        width: 100%;
    }
    .FooterContent{
        width: 80%; 
    }
}